:root {
    --cell-width: 30px;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0;
    padding: 0;
    background-color: #565454;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:flex;
    /* overflow: hidden */
}

/* h1 {
    margin: 20px 0;
    align-items: center;
} */

#minesweeper {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    /* gap: 2px; */
    gap: 0.18vw;
}

.cell {
    width: var(--cell-width);
    height: var(--cell-width);
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.4vw;
}

.cell.revealed {
    background-color: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell.mine {
    background-color: red;
}

.cell.flag {
    background-color: yellow;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    -ms-user-select: none;
    user-select: none;
 }
 .container{
    width: 75vw;
    height: 40vw;
    margin: 0.4vw;
    position: relative;
    overflow: scroll;
    cursor: grab;
    border: solid black 0.5vw;
    align-self: flex-start;

 }
 .sidebar{
    font-size:1.5vw;
    color:rgb(186, 125, 11);
    width:25vw;
    /* height:91.25vh; */
    margin: 0.4vw;
    /* text-align: center; */
    /* padding-left:4px; */
    border-left:solid rgb(75, 74, 74) 0.15vw;
    border-right:solid rgb(75, 74, 74) 0.15vw;
    border-top:solid rgb(75, 74, 74) 0.15vw;
    height:40.7vw;
    /* align-self: flex-end; */
    /* background-color: blue; */

 }
 .content{
    display:flex;
 }
#opponent_progress{
    text-align: center;
    align-self:right;
    width:25vw;
    padding-top: 1vw;
    /* margin-right: 1vw; */
    margin-left: 23.3vw;
    color:#999696;
    font-size:2.5vw;
    /* height:3vw; */
    /* border-bottom:solid rgb(75, 74, 74) 2px; */
}
#room{
    width:50vw;
    align-self:flex-start;
    text-align-last: left;
    margin-left: 0.6vw;
    position: relative; 
    font-size:2vw;
    /* height:1vw; */

}
#progress{
     width:25vw;
     font-size:3vw;
    text-align: center; 
    border-bottom:solid rgb(75, 74, 74) 0.18vw;
    color:rgb(186, 125, 11);
    padding-bottom: 10px;
}
#progress_bar{
    width:25vw;
    /* padding-left:10px; */
    /* align-self: middle; */
    /* text-align: right; */
    display:flex;
    text-align: center;
}
#head{
    width:100vw;
    display:flex;
    /* padding-left:4px; */
    padding-right:1vw;
    height:5vw;
    /* background-color: blue; */
    margin:0px;
    margin-top: 0.5vw;

}
.sidebar_content{
    padding-left: 1.1vw;
}
#front_layer{
    width:100vw;
    position:absolute;
    font-size: 200px;
    height: 75vh;
    color: rgb(134, 91, 10);
    padding-top:25vh;
    text-align: center;
    background-color:rgba(31, 31, 32, 0.9);
}